# Requirements for notebooks / Binderhub
matplotlib
# To silence warning in Pandas sometime <= 2.2
pandas >= 1.5
xlrd
openpyxl
scipy
ipython
ipywidgets
jupytext
sqlalchemy
statsmodels
scikit-learn
scikit-image
sympy
okpy
jupytext
jupyterlab
seaborn
plotly
